@{
    ViewBag.Title = "About Bookipedia";
}
<h2>@ViewBag.Title</h2>

<h1>Welcome to Stephen's author-details website: Bookipedia!</h1>
<br/>
<p>Bookipedia is a website for the storing of character and author details for writers. The purpose of this site is to enable authors to store details about the people and places they have created while writing a novel. A SQL database enables easy creation, editing, access, and deletion of people and palce details - allowing the author to quickly access their data wherever and whenever they want!</p>
<br />
<p>In addition, if you are strugging to come up with names for some of your characters, there is also a page on this site that will generate random character names for you. </p>
<br />